VITE_APP_ENV=dev
VITE_FIREBASE_API_KEY=replace-with-public-web-api-key
VITE_FIREBASE_AUTH_DOMAIN=enfriamatic-operativa-dev.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=enfriamatic-operativa-dev
VITE_FIREBASE_STORAGE_BUCKET=enfriamatic-operativa-dev.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=16916346587
VITE_FIREBASE_APP_ID=1:16916346587:web:fccd9fdbf9736320483efe
